.odds {
    background-color: rgb(218, 113, 115) ; 
    font-family: Verdana, sans-serif ;


    
}

#ele2 {
    color: rgb(46, 126, 218) ;
    font-size: 36px;

}

.ele3 {
    font-size: 24px;
    
}

#ele4 {
    font-size: 24px;
    background-color: rgb(204, 255, 204) ;
    font-weight: bold;
}